{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                        <span>{{ message }}</span>
                    </div>
                {% endfor %}

                {% for message in app.flashes('delete') %}
                    <div class="alert alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                        <span>{{ message }}</span>
                    </div>
                {% endfor %}

                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Busqueda de usuarios</h4>
                    </div>
                    <div class="card-body">
                        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                        <br><br>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    {{ form_label(form.surname) }}
                                    {{ form_widget(form.surname) }}
                                    <div class="invalid-feedback" id="error_surname"></div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    {{ form_label(form.secondSurname) }}
                                    {{ form_widget(form.secondSurname) }}
                                    <div class="invalid-feedback" id="error_secondSurname"></div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    {{ form_label(form.firstName) }}
                                    {{ form_widget(form.firstName) }}
                                    <div class="invalid-feedback" id="error_firstName"></div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    {{ form_label(form.secondName) }}
                                    {{ form_widget(form.secondName) }}
                                    <div class="invalid-feedback" id="error_secondName"></div>
                                </div>
                            </div>
                        </div>
                        <br><br>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    {{ form_label(form.country) }}
                                    {{ form_widget(form.country) }}
                                    <div class="invalid-feedback" id="error_country"></div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    {{ form_label(form.documentType) }}
                                    {{ form_widget(form.documentType) }}
                                    <div class="invalid-feedback" id="error_documentType"></div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    {{ form_label(form.document) }}
                                    {{ form_widget(form.document) }}
                                    <div class="invalid-feedback" id="error_document"></div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    {{ form_label(form.state) }}
                                    {{ form_widget(form.state) }}
                                </div>
                            </div>

                        </div>
                        <br><br>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_label(form.email) }}
                                    {{ form_widget(form.email) }}
                                    <div class="invalid-feedback" id="error_area"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <button type="sumbit" class="btn btn-primary pull-right">Buscar</button>
                                </div>
                            </div>
                        </div>
                        <br><br>
                        {{ form_end(form) }}
                    </div>
                </div>
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Listado de usuarios ({{ pagination.getTotalItemCount }}) <div style="float: right;"><a style="cursor: pointer" href="{{ path('create_user') }}"><i class="fas fa-user-plus"></i></a></div> </h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th> ID </th>
                                    <th> Correo electrónico </th>
                                    <th> Tipo de identificacion </th>
                                    <th> Numero de identificacion </th>
                                    <th> Nombres </th>
                                    <th> Apellidos </th>
                                    <th> Pais </th>
                                    <th> Area </th>
                                    <th> Acciones </th>
                                </thead>
                                <tbody>
                                {% for user in pagination %}
                                    <tr>
                                        <td>{{ user.id }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>{{ user.documentType }}</td>
                                        <td>{{ user.document }}</td>
                                        <td>{{ user.firstName }} {{ user.secondName }}</td>
                                        <td>{{ user.surname }} {{ user.secondSurname }}</td>
                                        <td>{{ user.country.name }}</td>
                                        <td>{{ user.area.name }}</td>
                                        <td class="td-actions text-right">
                                            <a href="{{ path('edit_user', {'user' : user.id}) }}"  style="border-color: transparent;" type="button" rel="tooltip" title="Editar usuario" class="btn btn-white btn-link btn-sm">
                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            </a>
                                            <a href="{{ path('delete_user', {'user':user.id}) }}" style="border-color: transparent;" type="button" rel="tooltip" title="Eliminar" onclick="deleteUser(event)" class="btn btn-white btn-link btn-sm">
                                                <i class="fa fa-times" aria-hidden="true" href="{{ path('delete_user', {'user':user.id}) }}"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {% else %}
                                    <tr>
                                        <td colspan="9">No hay usuarios</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="navigation">
                                {{ knp_pagination_render(pagination) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block myjavascripts %}
<script>
    function deleteUser(e) {
        e.preventDefault();
        var answer = window.confirm("Esta seguro de eliminar el registro seleccionado?");
        if (answer) {
            window.location.href = $(e.target).attr('href');
        }
    }

</script>
{% endblock %}




