.tim-typo {
  padding-left: 25%;
  margin-bottom: 40px;
  position: relative;
  width: 100%;
}

.tim-typo .tim-note {
  bottom: 5px;
  color: #c0c1c2;
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  left: 0;
  margin-left: 20px;
  position: absolute;
  width: 260px;
}

/* offline-doc */

.offline-doc .navbar.navbar-transparent {
  padding-top: 25px;
  border-bottom: none;
}

.offline-doc .navbar.navbar-transparent .navbar-minimize {
  display: none;
}

.offline-doc .navbar.navbar-transparent .navbar-brand,
.offline-doc .navbar.navbar-transparent .collapse .navbar-nav .nav-link {
  color: #FFF;
}

.offline-doc .footer {
  z-index: 3 !important;
  position: absolute;
  width: 100%;
  background: transparent;
  bottom: 0;
  color: #fff;
}

.offline-doc .page-header .content-center {
  z-index: 3;
}

.offline-doc .brand .title {
  color: #fff;
}

.offline-doc .footer {
  z-index: 3 !important;
}

.offline-doc .page-header .container {
  z-index: 3;
}

.offline-doc .page-header:after {
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}


@media all and (max-width: 991px) {

  .offline-doc .navbar .navbar-collapse.collapse,
  .offline-doc .navbar .navbar-collapse.collapse.in,
  .offline-doc .navbar .navbar-collapse.collapsing {
    display: block !important;
  }

  .nav-open .offline-doc .navbar-wrapper,
  .nav-open .offline-doc .navbar-toggler {
    -webkit-transform: translate3d(-260px, 0, 0);
    -moz-transform: translate3d(-260px, 0, 0);
    -o-transform: translate3d(-260px, 0, 0);
    -ms-transform: translate3d(-260px, 0, 0);
    transform: translate3d(-260px, 0, 0);
  }

  .offline-doc .navbar-wrapper,
  .offline-doc .navbar-toggler {
    -webkit-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -moz-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -o-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -ms-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
  }

  .offline-doc .navbar .collapse .navbar-nav .nav-item .nav-link {
    margin-left: 15px;
    color: #8b92a9 !important;
  }
}




#map {
  z-index: 2;
  height: calc(100vh - 70px);
  margin-top: 70px;
}

.bd-docs.dark-edition .bd-example {
  background-color: #1a2035;
  border: 0;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.bd-docs.dark-edition {
  background-color: #fff;
}

.modal.fade .modal-bottom,
.modal.fade .modal-left,
.modal.fade .modal-right,
.modal.fade .modal-top {
  position: fixed;
  z-index: 1055;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  max-width: 100%
}

.btn-warning {
  color: #fff
}

.btn-warning:hover {
  color: #fff
}

.modal.fade .modal-right {
  left: auto !important;
  transform: translate3d(100%, 0, 0);
  transition: transform .3s cubic-bezier(.25, .8, .25, 1)
}

.modal.fade.show .modal-bottom,
.modal.fade.show .modal-left,
.modal.fade.show .modal-right,
.modal.fade.show .modal-top {
  transform: translate3d(0, 0, 0)
}

.w-xl {
  width: 320px
}

.modal-content,
.modal-footer,
.modal-header {
  border: none
}

.h-100 {
  height: 100% !important
}

.list-group.no-radius .list-group-item {
  border-radius: 0 !important
}

.btn-light {
  color: #212529;
  background-color: #f5f5f6;
  border-color: #f5f5f6
}

.btn-light:hover {
  color: #212529;
  background-color: #e1e1e4;
  border-color: #dadade
}

.modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid rgba(160, 175, 185, .15);
  border-bottom-right-radius: .3rem;
  border-bottom-left-radius: .3rem
}