{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">
                            {% if edit %}
                                Edicion de usuario - {{ user.email }}
                            {% else %}
                                Registro de usuarios
                            {% endif %}

                            <div style="float: right;">
                                <a style="cursor: pointer" href="{{ path('home') }}" ><i class="fa fa-arrow-circle-left"></i></a>
                            </div>
                        </h4>
                    </div>
                    <div class="card-body">
                        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                        <input type="hidden" id="existDocument" value="0">
                        <br><br>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        {{ form_label(form.surname) }}
                                        {{ form_widget(form.surname) }}
                                        <div class="invalid-feedback" id="error_surname"></div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        {{ form_label(form.secondSurname) }}
                                        {{ form_widget(form.secondSurname) }}
                                        <div class="invalid-feedback" id="error_secondSurname"></div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        {{ form_label(form.firstName) }}
                                        {{ form_widget(form.firstName) }}
                                        <div class="invalid-feedback" id="error_firstName"></div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        {{ form_label(form.secondName) }}
                                        {{ form_widget(form.secondName) }}
                                        <div class="invalid-feedback" id="error_secondName"></div>
                                    </div>
                                </div>
                            </div>
                            <br><br>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        {{ form_label(form.country) }}
                                        {{ form_widget(form.country) }}
                                        <div class="invalid-feedback" id="error_country"></div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        {{ form_label(form.documentType) }}
                                        {{ form_widget(form.documentType) }}
                                        <div class="invalid-feedback" id="error_documentType"></div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        {{ form_label(form.document) }}
                                        {{ form_widget(form.document) }}
                                        <div class="invalid-feedback" id="error_document"></div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        {{ form_label(form.dateOfAdmission) }}
                                        {{ form_widget(form.dateOfAdmission) }}
                                        {% if edit %}
                                            <input type="hidden" id="dateErrorAdmition" value="0">
                                        {% else %}
                                            <input type="hidden" id="dateErrorAdmition" value="1">
                                        {% endif %}
                                        <div class="invalid-feedback" id="error_dateOfAdmission"></div>
                                    </div>
                                </div>

                            </div>
                            <br><br>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        {{ form_label(form.area) }}
                                        {{ form_widget(form.area) }}
                                        <div class="invalid-feedback" id="error_area"></div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        {% if edit %}
                                            <label class="bmd-label-floating">Fecha de Edicion</label>
                                        {% else %}
                                            <label class="bmd-label-floating">Fecha de Registro</label>
                                        {% endif %}
                                        <p class="form-control"> {{ date }}</p>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <a href="{{ path('home') }}" type="button" class="btn btn-dark pull-right">Cancelar</a>
                                        <button type="button" class="btn btn-primary pull-right" onclick="submitForm()">Guardar</button>
                                    </div>
                                </div>
                            </div>
                            <br><br>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block myjavascripts %}
<script>
    function validateName(e) {
        key = (document.all) ? e.keyCode : e.which;

        if (key === 8) {
            return true;
        }
        const pattern = /[A-Z]/;
        const finalKey = String.fromCharCode(key);
        return pattern.test(finalKey);
    }

    function validateOtherName(e) {
        key = (document.all) ? e.keyCode : e.which;

        if (key === 8 || key === 32) {
            return true;
        }
        const pattern = /[A-Z]/;
        const finalKey = String.fromCharCode(key);
        return pattern.test(finalKey);
    }

    function validateDocument(e) {
        key = (document.all) ? e.keyCode : e.which;

        if (key === 8 ) {
            return true;
        }
        const pattern = /[A-Za-z0-9]/;
        const finalKey = String.fromCharCode(key);
        return pattern.test(finalKey);
    }

    function changeDate(e) {
        const selectedDate = e.target.value;
        const min =  moment().format('Y')+'-'+ (parseInt(moment().format('M')) -1) + '-' + moment().format('D');
        const max = moment().format('Y-M-D');

        const minDate = new Date(min);
        const maxDate = new Date(max);
        const actualDate = new Date(selectedDate);

        const error = $("#error_dateOfAdmission");

        const dateHidden = $("#dateErrorAdmition");

        if(actualDate.getTime() >= minDate.getTime() && actualDate.getTime() <= maxDate.getTime()){
            error.css('display', 'hidden');
            error.html('');
            dateHidden.val('0');
        }else {
            dateHidden.val('1');
            error.css('display', 'block')
            error.html('la fecha esta fuera de rango, denbe estar entre : ' + min + ' y ' + max);
        }
    }

    function validateExistUserDocument() {
        const documentType = $("#user_form_documentType").val();
        const document = $("#user_form_document").val();
        const existUser = $("#existDocument");

        if(documentType !== "" && document !== ""){
            const info = {
                'documentType': documentType,
                'document': document
            };
            $.post(
                "{{ path('user_exist') }}",
                info,
                function(data, status){
                   const info = JSON.parse(data);
                  if(info.exist){
                      {% if edit %}
                        const idActiveUser = {{ user.id }};
                        if (idActiveUser === info.id){
                            existUser.val('0');
                        }else {
                            existUser.val('1');
                        }
                      {% else %}
                        existUser.val('1');
                      {% endif %}

                  }else{
                      existUser.val('0');
                  }
                }
            );
        }else{
            existUser.val('1');
        }
    }

    function validateForm() {
        let countError = 0;
        const surname = $("#user_form_surname");
        const errorSurname = $("#error_surname");
        const secondSurname = $("#user_form_secondSurname");
        const errorSecondSurname = $("#error_secondSurname");
        const firstName = $("#user_form_firstName");
        const errorFirstName = $("#error_firstName");
        const secondName = $("#user_form_secondName");
        const errorSecondName = $("#error_secondName");
        const country = $("#user_form_country");
        const errorCountry = $("#error_country");
        const document = $("#user_form_document");
        const errorDocument = $("#error_document");
        const documentType = $("#user_form_documentType");
        const errorDocumentType = $("#error_documentType");
        const dateOfAdmission = $("#user_form_dateOfAdmission");
        const errorDateOfAdmission = $("#error_dateOfAdmission");
        const dateHidden = $("#dateErrorAdmition");
        const area = $("#user_form_area");
        const errorArea = $("#error_area");
        const existUser = $("#existDocument");

        if (validate.isEmpty(surname.val())){
            countError = countError + 1;
            errorSurname.css('display', 'block');
            errorSurname.html('Este campo es obligatorio');
        }else {
            if(surname.val().length > 20){
                countError = countError + 1;
                errorSurname.css('display', 'block');
                errorSurname.html('Este campo solo puede contener 20 caracteres');
            }else{
                errorSurname.css('display', 'hidden');
                errorSurname.html('');
            }
        }

        if (validate.isEmpty(secondSurname.val())){
            countError = countError + 1;
            errorSecondSurname.css('display', 'block');
            errorSecondSurname.html('Este campo es obligatorio');
        }else {
            if(secondSurname.val().length > 20){
                countError = countError + 1;
                errorSecondSurname.css('display', 'block');
                errorSecondSurname.html('Este campo solo puede contener 20 caracteres');
            }else{
                errorSecondSurname.css('display', 'hidden');
                errorSecondSurname.html('');
            }
        }

        if (validate.isEmpty(firstName.val())){
            countError = countError + 1;
            errorFirstName.css('display', 'block');
            errorFirstName.html('Este campo es obligatorio');
        }else {
            if(firstName.val().length > 20){
                countError = countError + 1;
                errorFirstName.css('display', 'block');
                errorFirstName.html('Este campo solo puede contener 20 caracteres');
            }else{
                errorFirstName.css('display', 'hidden');
                errorFirstName.html('');
            }
        }

        if(validate.isEmpty(country.val)){
            countError = countError + 1;
            errorCountry.css('display', 'block');
            errorCountry.html('Este campo es obligatorio');
        }else {
            errorCountry.css('display', 'hidden');
            errorCountry.html('');
        }

        if (validate.isEmpty(document.val())){
            countError = countError + 1;
            errorDocument.css('display', 'block');
            errorDocument.html('Este campo es obligatorio');
        }else {
            if(document.val().length > 20){
                countError = countError + 1;
                errorDocument.css('display', 'block');
                errorDocument.html('Este campo solo puede contener 20 caracteres');
            }else{
                errorDocument.css('display', 'hidden');
                errorDocument.html('');
            }
        }

        if(validate.isEmpty(documentType.val)){
            countError = countError + 1;
            errorDocumentType.css('display', 'block');
            errorDocumentType.html('Este campo es obligatorio');
        }else {
            errorDocumentType.css('display', 'hidden');
            errorDocumentType.html('');
        }

        validateExistUserDocument();

        if(existUser.val() === '1'){
            countError = countError + 1;
            errorDocumentType.css('display', 'block');
            errorDocument.css('display', 'block');
            if(validate.isEmpty(document.val())){
                errorDocument.html('Este campo es obligatorio');
            }else{
                errorDocumentType.html('La combinacion entre tipo de documento y numero de documento ya existe en el sistema');
                errorDocument.html('La combinacion entre tipo de documento y numero de documento ya existe en el sistema');
            }



        }else{
            errorDocumentType.css('display', 'block');
            errorDocumentType.html('');
            errorDocument.css('display', 'block');
            errorDocument.html('');
        }
        if(dateHidden.val() === '1'){
            countError = countError + 1;
            errorDateOfAdmission.css('display', 'block');
            errorDateOfAdmission.html('la fecha seleccionada no es valida');
        }else{
            errorDateOfAdmission.css('display', 'hidden');
        }
        if(validate.isEmpty(area.val)){
            countError = countError + 1;
            errorArea.css('display', 'block');
            errorArea.html('Este campo es obligatorio');
        }else {
            errorArea.css('display', 'hidden');
            errorArea.html('');
        }

        return countError > 0;
    }

    function submitForm() {
       if (!validateForm()){
           const form = document.getElementsByName('user_form');
           // form[0].submit();
       }
    }
</script>
{% endblock %}


